body{
    background-color: blue;
}

h1{
    font-family: verdana, arial;
}
h2{
    font-weight: bold;
}
ul{
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-radius: 15px;   
    display: inline-block;
}
pre{
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-radius: 15px;
    display: inline-block;
}
footer{
    font-weight: bold;
}
#img1{
    display: block;
    margin: 0 auto;
}
main{
    max-width: 900px;
    margin: 0 auto;      
    text-align: center;
}
